*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 500;
    background: #141414;
}

/* MENU */
#container-menu {
    padding: 5px;
    background: #141414;
    height: 90px;
    color: #cfcfcf;
}

.logo{
    float: left;
    display: inline-block;
    padding: 25px ;
}

.menu{
    float:right; 

}

.menu ul{
    padding-top: 20px;
}

.menu li{
    float: left;
    list-style: none;
    padding: 15px;
    cursor: pointer;
    position: relative;
}


.menu li a{color:aliceblue; text-decoration:none;  display:block; }

.menu li  ul{
    display: none;
    text-align: center;
    background: #141414;
    
}   

    	
.menu li:hover ul, .menu li.hover ul{display:block; transition: all 8s step-start ; }

.menu ul li{
    line-height: 15px;
}

.menu ul .efeito:hover{
    border-bottom: #4250b4 1px solid;
    transition: all 0.5s ease-in;
    color: #4250b4;
}


.menu li ul li{
    float: none;
    display:block; 
}

/*MENU ATIVO*/

.menu ul li a:link {
    color: white;
  }

.menu ul li a:active{
   cursor: pointer;
}

.menu ul li a:visited{
    background: #4250b4;
    border: 1px solid #4250b4;
    border-radius: 3px;
}


  .menu ul li a:hover{
    color: slateblue;
}

/*FIM MENU ATIVO*/




/*QUEBRA O MENU EM MODO COLUNA*/

@media (max-width: 710px){
    #container-menu{
        display: block;
        padding: 0;
        border-bottom: 1px solid slateblue;
    }
    .menu{
        float: none;
        clear: both;
        margin-bottom: 500px;
    }

    .menu ul{
        border-bottom: 1px solid slateblue;
    }

    .menu li{
        float: none;
        text-align: center;
        background: #141414;
    }

    
}

/*FIM MEDIAS MENU*/

/*CARROSSEL*/

.carrossel{
    clear: both;
    position: relative;
}

.carrossel img{
    width: 100%;
}

.slick-arrow{
    display: none !important;
   }
/*FIM CARROSSEL*/

/*SECTION SERVICOS*/
.servicos-index{
    display: flex;
    color: white;
    margin-left: 5%;
    padding: 25px;
}

.servicos-index .nossos-servicos p {
    font-size: 16px;
}

.servicos-index img{
    padding-right: 15px;
}

.box-service{
    display: flex;
    margin-top: 50px;
    color: #141414;
    justify-content: space-around;
}

.box{
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center;  
    background: white;
    cursor: pointer;
    flex-basis: 200px;
}

.box img{
    margin-top: 25px;
}

.box p{
    margin-top: 55px;
    font-weight: 700;
    height: 0;
}

.box-service .box:hover, .box p:hover{
    display: block;
    height: 180px;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/*FIM SECTION SERVICOS*/


/*SECTION ACESSORIOS*/
#acessorios{
    margin-top: 150px;
}

.acessorios-index{
    display: flex;
    color: white;
    padding: 25px;
    margin-left: 5%;
}

.acessorios-index .nossos-acessorios {
    display: block;
    
}

.acessorios-index .nossos-acessorios p {
    font-size: 16px;
}

.acessorios-index img{
    padding-right: 15px;
}

/*FIM SECTION ACESSORIOS*/

/*CARROSSEL ACESSORIOS*/

.carrossel-acessorios div{
margin: 10px;

}

.carrossel-acessorios div img{
    max-width: 100%;
}

/*FIM CARROSSEL ACESSORIOS*/

/*RODAPE*/

footer{
    height: 100px;
    background: gray;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 55px;
    color: white;    
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-bottom: 20px;
}






/*RESPONSIVO*/

@media (max-width: 710px) {
    #servicos{
        margin-top: 200px;
    }

    .servicos-index{
        display: block;
        color: white;
        padding: 25px;
        
    }
    
    .servicos-index :nth-child(1){
        text-align: center;
       
    }
    .servicos-index img{
        margin:70px 0 20px 0;
    }

    .servicos-index h2{
        margin-bottom: 30px;
    }

    .servicos-index p{
       text-align: center;
    }

    .box-service{
        display: flex;
        margin-top: 50px;
        color: #141414;
        flex-direction: column;
        align-items: center;
    }

    .box{
        border-radius: 25px;
        border: 2px solid white;
        padding: 20px;
        width: 200px;
        height: 150px;
        text-align: center;  
        background: white;
        cursor: pointer;
        flex-basis: 200px;
        margin: 45px;
    }

    .acessorios-index{
        display: block;
        color: white;
        padding: 25px;
        
    }

    .acessorios-index :nth-child(1){
        text-align: center;
       
    }

    .acessorios-index img{
        margin-bottom:20px;
    }

    .acessorios-index h2{
        margin-bottom: 30px;
    }

    .acessorios-index p{
       text-align: center;
    }


}

/*FIM RESPONSIVO*/